<div>
  <p class="h1">Progress</p>
  <br />

  <p class="h5">Epic Details</p>
  <%= render 'shared/epic_details_table', epic_presenter: @epic_presenter %>
  <br />
  
  <p class="h5">Progress</p>
  <%= render 'shared/epic_progress_table', epic_progress_presenter: @epic_presenter.progress_presenter %>
  <br />

  <p class="h5">Earned Value</p>
  <%= render 'progress/epic_earned_value_table', epic_earned_value_presenter: @epic_presenter.earned_value_presenter %>
</div>
