<%= form_with url: project_epic_issues_path(project_id: project_id, id: epic_id), method: :get do |form| %>
  <section class="p-4 mb-4 rounded-3 border bg-white shadow-sm" style="border-radius: 0.75rem;">
    <div class="row align-items-end g-3">
      <div class="col-12 col-md-9">
        <%= form.label :labels, 'Label Filter', class: 'text-uppercase fw-bold text-secondary label-heading d-block mb-2 text-2xs' %>
        <%= form.text_field :labels, value: params[:labels], class: 'form-control py-2 shadow-sm bg-light', placeholder: 'e.g. backend' %>
      </div>

      <div class="col-12 col-md-3">
        <%= form.submit 'Apply Filters', name: nil, class: 'btn-primary-custom text-uppercase fw-bold w-100 py-2 px-3', style: 'padding-top: 0.6rem!important; padding-bottom: 0.6rem!important;' %>
      </div>
    </div>
  </section>
<% end %>
