<p class="text-secondary">For estimations only issues completed up to past week are considered, and the estimated number of weeks is from Monday.</p>

<%=
  render 'shared/epic_estimations_table',
  period: 'Since Beginning',
  avg_story_points: epic_estimation_presenter.avg_story_points_per_week,
  estimated_weeks_to_complete_without_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_without_uncertainty,
  estimated_weeks_to_complete_with_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_with_uncertainty,
  uncertainty_title: epic_estimation_presenter.uncertainty_title,
  uncertainty_percentage: epic_estimation_presenter.uncertainty_percentage
%>

<%=
  render 'shared/epic_estimations_table',
  period: 'Since Last 3 Weeks',
  avg_story_points: epic_estimation_presenter.avg_story_points_per_week(weeks_ago_since: 3),
  estimated_weeks_to_complete_without_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_without_uncertainty(weeks_ago_since: 3),
  estimated_weeks_to_complete_with_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_with_uncertainty(weeks_ago_since: 3),
  uncertainty_title: epic_estimation_presenter.uncertainty_title,
  uncertainty_percentage: epic_estimation_presenter.uncertainty_percentage
%>

<% if epic_estimation_presenter.avg_story_points_per_week_expected.present? %>
  <%=
    render 'shared/epic_estimations_table',
    period: 'Expected',
    avg_story_points: epic_estimation_presenter.avg_story_points_per_week_expected,
    estimated_weeks_to_complete_without_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_without_uncertainty(use_expected: true),
    estimated_weeks_to_complete_with_uncertainty: epic_estimation_presenter.estimated_weeks_to_complete_with_uncertainty(use_expected: true),
    uncertainty_title: epic_estimation_presenter.uncertainty_title,
    uncertainty_percentage: epic_estimation_presenter.uncertainty_percentage
  %>
<% end %>
