<table class="table table-hover mb-0">
  <thead>
    <tr>
      <th scope="col" style="width: 80px;">#</th>
      <th scope="col">Project Key</th>
      <th scope="col">Name</th>
      <th scope="col">Epics</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each.with_index(1) do |project, index| %>
      <tr>
        <th scope="row" class="small fw-medium text-secondary"><%= index %></th>
        <td>
          <span class="project-badge"><%= project.key %></span>
        </td>
        <td>
          <div class="d-flex flex-column">
            <span class="small fw-bold font-manrope"><%= project.name %></span>
          </div>
        </td>
        <td>
          <%= link_to project_epics_path(project_id: project.key), class: "epic-link d-inline-flex align-items-center gap-1" do %>
            <span>Epics</span>
            <span class="material-symbols-outlined" style="font-size: 1rem;">arrow_forward</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
