<table class="table align-middle mb-0 bg-white table-hover mb-5">
  <thead class="bg-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Key</th>
      <th scope="col">Name</th>
      <th scope="col">Epics</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each.with_index(1) do |project, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= project.key %></td>
        <td><%= project.name %></td>
        <td><%= link_to "Epics", project_epics_path(project_id: project.key) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
