<div>
  <p class="h1">Projects List</p>
  <br />

  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Key</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @jira_projects.each_with_index do |project, index| %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= project.key %></td>
          <td><%= project.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
