<div>
  <p class="h1">About</p>
  <br />

  <ol>
    <li>The tool tracks progress and generates estimates for the <strong>Epic</strong>, based on its Issues story points and status (To Do, In Progress, Done, ...).</li>
    <br/>

    <li>The tool considers all types of Issues (Story, Task, Bug, ...).</li>
    <br/>

    <li>The tool does not track progress or generate estimates for Issues without Epic.</li>
    <br/>

    <li>The tool does not consider Sub-Tasks.</li>
    <br/>

    <li>For calculating average velocity and generating estimates is <strong>the unit of time is the week</strong>. This is to avoid having to consider if the team uses sprints, and eventually the sprint length which could be different for each team. Also, estimates in number of weeks should be fine for everyone.</li>
    <br/>

    <li>By default there are 2 estimations which are calculated based on the average velocity since: (1) the implementation start week; (2) the last 3 weeks. You can also ask for a 3rd estimation based on the average velocity you expect to achieve by using the <strong><i>Expected average</i></strong> filter.</li>
    <br/>

    <li>The tool considers that weeks start on Monday and end on Sunday. Why do I mention this? Because if you started the implementation of a project on a Friday, the tool will consider that the implementation started on the previous Monday, and therefore your average velocity will be lower than expected. In this case you can either live with this difference, or use the <strong><i>Implementation start date</i></strong> filter and say implementation started the following Monday.</li>
    <br/>

    <li>If you want to estimate just a subset of an Epic, you can make use of Jira labels to filter the Issues you want to consider. First label your Issues in Jira, and then use the <strong><i>Label</i></strong> filter.</li>
    <br/>

    <li>The tool allows you to consider a level of uncertainty when calculating an estimation, with 5 possible values: Empty, Low, Medium, High, Very High. For each value you can set a percentage associated to it, by setting the <strong><i>LOW_UNCERTAINTY_PERCENTAGE, MEDIUM_UNCERTAINTY_PERCENTAGE, HIGH_UNCERTAINTY_PERCENTAGE, VERY_HIGH_UNCERTAINTY_PERCENTAGE</i></strong> environment variables. What this will do is, for example, if right now you have 20 story points remaining, and you set the <strong><i>MEDIUM_UNCERTAINTY_PERCENTAGE</i></strong> to 20% and select <strong><i>Uncertainty level</i></strong> filter to Medium, the tool will consider that you have 24 story points remaining and calculate the number of weeks remaining based on that.</li>
    <br/>

    <li>The calculations are more accurate when you estimate <strong>ALL</strong> the Issues and after multiple weeks of work (the first few weeks is expected to see unaccurate estimates).</li>
    <br/>

    <li>The tool works for Scrum, Kanban, or any other Jira board type. By default it might just work with Scrum boards by using the existing story points field, and if you need to use another custom field, you should set the <strong><i>JIRA_STORY_POINTS_FIELD_CODES</i></strong> environment variable, which allows comma separated values (e.g. <i>customfield_10016,customfield_10034</i>)</li>
    <br/>

    <li>The tool allows you to define your own set of ticket statuses. By default it uses <strong><i>To Do</i></strong> for "not started", <strong><i>Done</i></strong> for "finished", and every other status for "in progress". If you need to use a different set of statuses, should set the <strong><i>TO_DO_STATUSES</i></strong> and <strong><i>DONE_STATUSES</i></strong> environment variables, which allows comma separated values and is case insensitive (e.g. <i>TO_DO_STATUSES=To do,Open,pending review</i> and <i>DONE_STATUSES=done,resolved,Closed</i>)</li>
    <br/>
  </ol>
</div>
