<% if notice %>
  <div class="mb-4">
    <div class="custom-alert custom-alert-success alert alert-dismissible fade show shadow-sm" role="alert">
      <div class="d-flex align-items-center gap-3">
        <span class="material-symbols-outlined text-success" style="font-variation-settings: 'FILL' 1;">check_circle</span>
        <span class="small fw-medium"><%= notice %></span>
      </div>
      <button aria-label="Close" class="btn-close" style="font-size: 0.65rem;" type="button" data-bs-dismiss="alert"></button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="mb-4">
    <div class="custom-alert custom-alert-danger alert alert-dismissible fade show shadow-sm" role="alert">
      <div class="d-flex align-items-center gap-3">
        <span class="material-symbols-outlined text-danger" style="font-variation-settings: 'FILL' 1;">error</span>
        <span class="small fw-medium"><%= alert %></span>
      </div>
      <button aria-label="Close" class="btn-close" style="font-size: 0.65rem;" type="button" data-bs-dismiss="alert"></button>
    </div>
  </div>
<% end %>
